@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.container{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
