html{
    height: 100vh
}
.post-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    width: 70%;
    margin: auto auto 2em auto;
    align-items: center;
}

.post-header{
    text-align: center;
}

.btn-list{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.btn{
    width: fit-content;
    height: 30px;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    border-radius: .5em;
}

.btn:hover{
    cursor: pointer;
}

.btn-map{
    padding: 15px 4px 0 4px;
    background: rgb(228, 199, 105);
}

.btn-map:hover{
    background: rgba(228, 199, 105, .7);
}

.btn-edit{
    padding: 15px 4px 0 4px;
    color: white;
    background: #0275d8;
}

.btn-edit:hover{
    color: white;
    background: rgba(2, 117, 216, .7);
}

.btn-delete{
    height: 45px;
    color: white;
    background: #d9534f;
}

.btn-delete:hover{
    color: white;
    background: rgba(217, 83, 79, .7);
}

img{
    width: 100%;
}

.no-places{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
}

.empty-text{
    font-family: "Roboto";
    margin: 0 0 1em 0;
}

.btn-compartir{
    margin: auto;
    width: 70%;
    padding: 1em;
    border: 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Roboto";
    color: white;
    border-radius: 10px;
    background: rgb(187, 100, 50);
}